@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}
nav img {
  width: 150px;
  margin-right: 50px;
}
nav ul li {
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
}

.menu .menu-list {
  flex: 1;
  padding: 20px;
}
.menu .order-list {
  border-left: 1px solid #dedede;
  flex: 0 0 auto;
  top: 100px;
  height: 80vh;
  overflow-y: auto;
}
.menu .order-list .order-items {
  margin-top: 20px;
  height: 300px;
}