@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  // position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  img {
    width: 150px;
    margin-right: 50px;
  }

  ul li {
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
  }
}

.menu {
  .menu-list {
    flex: 1;
    padding: 20px;
  }

  .order-list {
    border-left: 1px solid #dedede;
    flex: 0 0 auto;
    top: 100px;
    height: 80vh;
    overflow-y: auto;

    .order-items {
      margin-top: 20px;
      height: 300px;
    }
  }
}
