@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}
nav img {
  width: 150px;
  margin-right: 50px;
}
nav ul li {
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
}
nav .form-control {
  font-size: 13px;
  width: 100%;
}

#menu-section {
  margin: 100px 0 0;
}
#menu-section .menu .card-title {
  font-size: 12px;
}
#menu-section .menu .price {
  font-size: 10.5px;
}
#menu-section .menu .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #f4f4f4;
  border: 0;
}
#menu-section .order-list {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100%;
  overflow: auto;
  font-size: 14px;
}
#menu-section .order-list #dataContainer {
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
}
#menu-section .order-list .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#menu-section .order-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu-section .order-list ul li {
  font-size: 12px;
  margin-bottom: 5px;
  justify-content: center;
}
#menu-section .order-list small {
  color: #999999;
  font-size: 12px;
}
#menu-section .order-list .fa-regular {
  color: goldenrod;
}
#menu-section .order-list button {
  font-size: 14px;
  border-radius: 25px;
}

#order-section {
  margin: 100px 0 0;
}
#order-section img {
  width: 500px;
}
#order-section .receipt {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 0;
  border-radius: 10px;
  padding: 20px;
}
#order-section li {
  list-style: none;
  padding: 2px 0;
  margin: 0;
  font-size: 15px;
  margin-bottom: 5px;
  justify-content: center;
}
#order-section li .suborder {
  font-size: 13px;
}

.wrapper span {
  font-size: 12px;
}
.wrapper span.plus,
.wrapper span.minus {
  border: 1px solid #ccc;
  padding: 0 5px;
}

.modal .modal-body,
.modal button {
  font-size: 14px;
}

footer {
  margin-top: 50px;
  background-color: rgb(242, 242, 242);
  padding: 30px 0;
}
footer li {
  padding: 5px 0;
}
footer li a {
  text-decoration: none;
  color: #000;
}
footer li i {
  font-size: 25px;
  margin-right: 20px;
}