@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  // position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;

  img {
    width: 150px;
    margin-right: 50px;
  }

  ul li {
    margin: 0 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .form-control {
    font-size: 13px;
    width: 100%;
  }
}

#menu-section {
  margin: 100px 0 0;

  .menu {
    .card-title {
      font-size: 12px;
    }

    .price {
      font-size: 10.5px;
    }

    .card {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background-color: #f4f4f4;
      border: 0;
    }
  }

  .order-list {
    position: sticky;
    top: 0;
    height: 100%;
    overflow: auto;
    font-size: 14px;

    #dataContainer {
      height: 300px;
      overflow: auto;
      overflow-x: hidden;
    }

    .card {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul li {
      font-size: 12px;
      margin-bottom: 5px;
      justify-content: center;
    }

    small {
      color: #999999;
      font-size: 12px;
    }

    .fa-regular {
      color: goldenrod;
    }

    button {
      font-size: 14px;
      border-radius: 25px;
    }
  }
}

#order-section {
  margin: 100px 0 0;

  img {
    width: 600px;
  }

  .receipt {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 0;
    border-radius: 10px;
    padding: 20px;
  }

  li {
    list-style: none;
    padding: 2px 0;
    margin: 0;
    font-size: 15px;
    margin-bottom: 5px;
    justify-content: center;

    .suborder {
      font-size: 13px;
    }
  }
}

.wrapper {
  span {
    font-size: 12px;
  }

  span.plus,
  span.minus {
    border: 1px solid #ccc;
    padding: 0 5px;
  }
}

.modal {
  .modal-body,
  button {
    font-size: 14px;
  }
}
